deploy/static/js/pdfjs/build/pdf.js	linguist-vendored
deploy/static/js/pdfjs/web/debugger.js	linguist-vendored
deploy/static/js/pdfjs/web/viewer.js	linguist-vendored
deploy/static/py/Brython-3.7.1/brython.js	linguist-vendored
