#batch-editor {
    font-family: consolas, courier;
    font-size: 15pt;
    font-weight: bold;
    color: #111144;

    width: 100%;
    min-height: 300px;
}

button#btn-parse {
    width: 100%;
}

select.info {
    float: left;
    width: 33.3%;
    height: 120px;
}

#result {
    width: 100%;
}

#result thead {
    font-weight: bold;
}

#result tbody {
    color: #111144;
}

#result tbody tr:nth-child(even) {
    background-color: #ededed;
}

#result tbody tr.error
{
    background-color: indianred;
}

ul {
    list-style: none;
    padding: 0;
}

#final
{
    border-bottom: 1px dashed black;
    background-color: #aaaadd;
}

#final tr:nth-child(even) {
  background-color: #D0D0EC;
}

#construction
{
    background-color: #b3ffb3;
    opacity: 0.55;
}

#construction tr:nth-child(even) {
  background-color: #ccffcc;
}

#construction-row
{
    background-color: #ffffb3;
}

#construction-row td
{
    padding: 10px;
    margin: 0;
}

#editor-row > li
{
    float: left;
    margin: 0px 10px;
    background-color: snow;
    border-radius: 3px;
    padding: 10px;
}

#editor-col
{
    background-color: transparent !important;
    padding: 0 !important;
    margin: 0 !important;
}

#editor-proposal
{
    display: none;

    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
}

#editor-proposal li
{
    cursor: pointer;
    padding: 10px;
}

#editor-proposal li:nth-child(even) {
    background-color: #ededed;
}

#editor
{
    border-radius: 3px;
    border: 1px solid blue;
    padding: 10px;
}

#editor.unknown
{
    border: 1px solid red;
}

.token
{
    font-style:italic;
    color: gray;
    margin-right: 10px;
}

.close, .commit
{
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    color: red;
    border-radius: 3px;
    background-color: lightgray;

    margin: 0px 2px;

    cursor: pointer;
}

/* Tabs */

.tabcontrol-pages li.tabcontrol-page {
  font-weight: 700;
  font-size: 18px;
  display: block;
  float: left;
  min-width: 200px;
  padding: 25px 10px;
  color: #757575;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  background: #ddd;
  border: 1px solid #ccc;
  border-bottom: none;
  margin-bottom: -1px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  z-index: 6;
  box-sizing: border-box;
}

.tabcontrol-pages li.tabcontrol-page.is-active {
  background: #fff;
  z-index: 10;
  position: relative;

}

.tabcontrol-bodies {
  position: relative;
  width: 100%;
  border: 1px solid #ccc;
  clear: both;
  padding: 30px 20px 20px 20px;
  background-color: #fff;
  box-sizing: border-box;
  overflow: auto;

}
