{% extends "intern.html" %}
{% set name = skel.name + (" (" + skel.compreg + ")" if skel.compreg else "") + " - " + skel.reg  %}
{% set title = name %}
{% set path = [{"name": "Flugzeuge", "url": "/aircraft/list"}] %}

{% from "macros/utils.html" import renderFileEntry %}

{% block content %}
	<p>
		{{"Einsitzig" if skel.seats==1 else "Doppelsitzig" if skel.seats==2 else (skel.seats|string + "-sitzig")}},
		{{skel.aircraftkind.descr }}
		{{- ", Schleppflugzeug" if skel.is_launcher }}
	</p>

	{% if skel.photo %}
		<div class="image" style="background-image: url({{getImageSrc(skel.photo, 1200)}}"></div>
	{% endif %}

	{% if skel.description and skel.description != "<p><br></p>" %}
		{{skel.description}}
	{% endif %}

	{% if skel.photo3side %}
		<div class="image" style="background-image: url({{getImageSrc(skel.photo3side, 1024)}}"></div>
	{% endif %}

	{% if skel.documents or skel.wikipedia %}
		<ul class="menu">
			{% if skel.wikipedia %}
				<li>
					<a href="{{ skel.wikipedia }}" target="_blank">
						<img class="icon" src="/static/icons/wikipedia.svg">
						{{ skel.name }} auf Wikipedia
					</a>
				</li>
			{% endif %}
			{% for document in (skel.documents or []) %}
				{{ renderFileEntry(document) }}
			{% endfor %}
		</ul>
	 {% endif %}

{% endblock %}
