{% extends "intern.html" %}
{% set title = "Flugzeuge" %}

{% block content %}
	<h1>Flugzeuge</h1>

	<ul class="menu left">
		{% for skel in skellist %}
			<li>
				<a href="/aircraft/view/{{skel.key | shortKey}}">
					{% if skel.photo %}
						<img class="icon" src="{{ getImageSrc(skel.photo, 150, True) }}">
					{% endif %}
					<span>
						{{skel.name}} - {{skel.reg}}
						{{ ("(" + skel.compreg + ")") if skel.compreg else "" }}
					</span>
				</a>
			</li>
		{% endfor %}
	</ul>
{% endblock %}
