{% extends "intern.html" %}
{% set title = "Flugzeuge" %}

{% from "macros/utils.html" import Icon %}

{% block content %}
	<ul class="menu left">
		{% for skel in skellist %}
			<li class="item">
				<a class="action" href="/aircraft/view/{{skel.key | shortKey}}">
					{% if skel.photo %}
						{{ Icon(getImageSrc(skel.photo, 150, True)) }}
					{% else %}
						{{ Icon("/static/img/generic-glider.svg") }}
					{% endif %}
					<span>
						{{skel.reg}}
						{{ ("(" + skel.compreg + ")") if skel.compreg else "" }}
						- {{skel.name}}
					</span>
				</a>
			</li>
		{% endfor %}
	</ul>
{% endblock %}
