<input
		class="input ignt-input ignt-input--password ignt-ignt--{{ boneName }}
			{{ "is-required" if boneParams.required }}
			{{ "is-readonly" if boneParams.readOnly }}
			{{ "is-invalid" if boneWasInvalid else "is-valid" }}"
		name="{{ boneName }}"
		type="password"
		title="{{ _(boneParams.tooltip or boneParams.descr or boneName) }}"
		id="ignt-id-{{ boneName }}"
		value="{{ boneValue|default("", true) }}"
		placeholder="{{ boneParams.descr }}"
		{{ "required" if boneParams.required }}
		{{ "readonly" if boneParams.readOnly }}
		{% if boneWasInvalid %} aria-invalid="true" {% endif %}
>

{% if not boneParams.readOnly %}
	<input
		class="input ignt-input ignt-input--password ignt-ignt--{{ boneName }}
			{{ "is-required" if boneParams.required }}
			{{ "is-invalid" if boneWasInvalid else "is-valid" }}"
		name="{{ boneName }}_reenter"
		type="password"
		title="{{ _(boneParams.tooltip or boneParams.descr or boneName) }}"
		id="ignt-id-{{ boneName }}_reenter"
		value="{{ boneValue|default("", true) }}"
		placeholder="{{ _("Re-enter") }} {{ boneParams.descr }}"
		{{ "required" if boneParams.required }}
		{% if boneWasInvalid %} aria-invalid="true" {% endif %}
	>
{% endif %}
