{% extends "intern.html" %}
{% set title = skel.name %}

{% block content %}
	<h1>{{ skel.name }}</h1>

	<ul class="menu">
		{% for folder in getList("file", "viewNodeSkel", parentdir=skel.key, orderby="name") %}
			<li>
				<a href="/file/view/node/{{folder.key}}">{{folder.name}}</a>
			</li>
		{% endfor %}
		{% for document in getList("file", "viewLeafSkel", parentdir=skel.key, orderby="name") %}
			<li>
				{% if document["mimetype"] == "application/pdf" %}
					{% set url = "/file/download/" + document.dlkey|urlencode + "/" + document.name %}
					{% set url = "/static/js/pdfjs/web/viewer.html?file=" + url %}
				{% else %}
					{% set url = "/file/download/" + document.dlkey + "?fileName=" + document.name + "&download=1" %}
				{% endif %}

				<a href="{{ url }}">{{ document.name }}</a>
			</li>
		{% endfor %}
	</ul>

{% endblock %}
