{% extends "intern.html" %}
{% set title = skel.name %}
{% from "macros/utils.html" import renderFileEntry, Icon %}

{% block headline %}
	{% for part in getPathToKey(skel.key)[1:-1] %}
		<a href="/file/view/node/{{ part.key }}">{{ part.name }}</a> /
	{% endfor %}

	{{ skel.name }}
{% endblock %}

{% block content %}

	<ul class="menu left">
		{% for folder in getList("file", "viewNodeSkel", parentdir=skel.key, orderby="name") %}
			<li class="item">
				<a class="action" href="/file/view/node/{{folder.key}}">
					{{ Icon("/static/icons/folder.svg") }}
					{{folder.name}}
				</a>
			</li>
		{% endfor %}
		{% for document in getList("file", "viewLeafSkel", parentdir=skel.key, orderby="name") %}
			{{ renderFileEntry(document) }}
		{% endfor %}
	</ul>

{% endblock %}
