{% extends "index.html" %}
{% set mode = "steady" %}
{% set prefix = "/" %}

{% if not functional_classes %}
	{% set functional_classes = "text intern" %}
{% endif %}

{% block body %}
	<div class="functional {{functional_classes}}">
		{% block title %}
			<h1>
				<a href="/user/view" title="Startseite des Mitgliederbereichs"><img src="/static/img/favicon.svg"></a>

				{% block headline %}
						{%- for part in (path or []) -%}
							<a href="{{ part.url }}">{{ part.name }}</a> /
	                    {%- endfor -%}
						{% if title %}
							{{ title -}}
						{% endif %}
				{% endblock %}
			</h1>
		{% endblock %}

		{% block content %}

		{% endblock %}
	</div>
{% endblock %}
