{% extends "intern.html" %}
{% set title = "Einstellungen" %}

{% block content %}
	<p>
		In diesem Bereich kannst du Deine persönlichen Einstellungen verwalten.<br>
		Einige Daten wie z.B. dein Name können nur durch einen Administrator geändert werden.<br><br>
		Schicke uns in diesem Fall <a href="/message/add">bitte eine kurze Mitteilung</a>.
	</p>

	<form action="/{{ moduleName() }}/edit" method="POST">
		{{ renderEditForm(skel) }}
		<input class="btn btn--primary" type="submit" value="Einstellungen speichern">
	</form>
{% endblock %}
