{% extends "intern.html" %}
{%- set req = requestParams() -%}

{% block title %}
{% endblock title %}

{% block content %}
	<h1>Login</h1>

	{% if loginFailed %}
		<p style="color: red;">
			<strong>Login fehlgeschlagen!</strong><br>
			Bitte überprüfe ob du die richtige E-Mail Adresse und das richtige Passwort eingegeben hast!
		</p>
	{% else %}
		<p>
			Du hast noch kein Login?<br>
			Kein Problem, einfach Max fragen oder <a href="/#kontakt">eine kurze Mitteilung schicken</a>!
		</p>
	{% endif %}

	<form method="POST" action="/user/auth_userpassword/login">
		<input name="skey" type="hidden" value="{{ getSecurityKey() }}">

		<div class="input-group">
			<label class="label js-focus">
				E-Mail
				<input class="input" name="name" type="text" placeholder="E-Mail">
			</label>
		</div>

		<div class="input-group">
			<label class="label">
				Passwort
				<input class="input" name="password" type="password" placeholder="Passwort">
			</label>
		</div>

		<input class="btn btn--primary" name="submit" type="submit" value="Login">
	</form>

	{% if not req.get("disableGoogle") %}
		<div style="text-align: center; font-size: 0.8em;">
			<a class="btn btn--google" href="/user/auth_googleaccount/login">(Oder hier mit Google einloggen…)</a>
		</div>
	{% endif %}
{% endblock %}
