{% extends "intern.html" %}
{% from "macros/skelview.html" import SkelView %}
{% set title = "Einstellungen ändern" %}

{% block content %}
	<h1 class="headline">Einstellungen für {{ skel.value.viewname }}</h1>

	<p>
		In diesem Bereich kannst du deine persönlichen Einstellungen verwalten.<br>
		Einige Daten wie z.B. dein Name können nur durch einen Administrator geändert werden.<br><br>
		Schicke uns in diesem Fall <a href="/message/add">bitte eine kurze Mitteilung</a>.
	</p>

	<form action="/{{ moduleName() }}/edit" method="POST">
		{{ renderEditForm(skel) }}
		<input class="btn btn--primary" type="submit" value="Einstellungen speichern">
	</form>
{% endblock %}
