{% extends "intern.html" %}
{% set title = skel["viewname"] %}

{% block content %}
	<h1>Hallo {{ skel["firstname"] or "" -}}!</h1>

	<p>
		Hier findest du allerhand nützliche Informationen und Werkzeuge, um die Flugvorbereitung sowie den
		Flugbetrieb und das Vereinsleben besser organisieren zu können. Wenn du eine Frage oder Mitteilung hast,
		zögere nicht, und schicke uns <a href="/message/add">hier direkt eine Nachricht</a>.
	</p>

	<ul class="menu">
		<!-- <li><a href="#">Termine</a></li> -->
		<li><a href="/aircraft/list">Flugzeuge</a></li>

		{% if "admin" in cuser["access"] or "root" in cuser["access"] %}
			<li><a href="/s/startliste">Starterfassung (DEMO)</a></li>
		{% endif %}

		{% for folder in (appconf["intern_document_folders"] or []) %}
			<li><a href="/file/view/node/{{folder.key|shortKey}}">{{folder.name}}</a></li>
		{% endfor %}
		<!--
		<li><a href="#">Windendienst</a></li>
		<li><a href="#">Fluglehrerdienst</a></li>
		<li><a href="#">Kantinendienst</a></li>
		<li><a href="#">Starterfassung</a></li>
		-->

		<li><a href="/message/add">Mitteilung schicken</a></li>

		{% if "user-add" in cuser["access"] or "root" in cuser["access"] %}
			<li><a href="/user/add">Mitglied anlegen</a></li>
		{% endif %}
		{% if "admin" in cuser["access"] or "root" in cuser["access"] %}
			<li><a href="/vi" target="_blank">System-Administration</a></li>
		{% endif %}

		<li><a href="/user/logout?skey={{ getSecurityKey() }}">Logout</a></li>
	</ul>

{% endblock %}
