{% extends "functional.html" %}
{% set title = "Impressum" %}
{% set functional_classes = "text" %}

{% block content %}
	<div class="content-box-content">
		<h3>Impressum</h3>

		<h4>Angaben gemäß § 5 TMG</h4>

		<div class="imprint">
			{{ appconf["legal_name"] }}<br>
			{{ appconf["legal_address"] }}<br>
			{{ appconf["legal_city"] }}
		</div>

		{% if appconf["legal_institutions"] %}
			<h4>Vertreten durch</h4>
			<div class="imprint">
				{% for entry in appconf["legal_institutions"] %}
					{{ entry }}<br>
				{% endfor %}
			</div>
		{% endif %}

		<h4>Kontakt</h4>

		<div class="imprint">
			{{ appconf["legal_phone"] }}<br>
			{{ appconf["legal_email"] }}
		</div>

		{% if appconf["legal_register"] %}
			<h4>Vereinsregister</h4>
			<div class="imprint">
				{% for entry in appconf["legal_register"] %}
					{{ entry }}<br>
				{% endfor %}
			</div>
		{% endif %}

		{% if appconf["legal_ustid"] %}
			<h4>Umsatzsteuer-ID</h4>

			<div class="imprint">
                {{ appconf["legal_ustid"] }}
			</div>
		{% endif %}

		<h4>Copyright</h4>

		<div class="imprint">
			Copyright &copy; {{ dateTime().now().strftime("%Y") }} {{ appconf["legal_name"] }}
		</div>

		<div class="imprint">
			Fotos, Inhalte, Farbgebung sowie das Logo sind geistiges Eigentum des Vereins und seiner Mitglieder.<br><br>

			Erstellung und Bereitstellung der Webseite durch <a href="https://phorward.info/">Jan Max Meyer, Phorward Software Technologies</a>.
			<br><br>
			Die hinter dieser Webseite liegende Software zur Verwaltung von Inhalten, Mitgliedern und weiteren
			Informationen ist freie Software, welche unter der GNU AFFERO GENERAL PUBLIC LICENSE entwickelt wird.
			Auch Du <a href="https://github.com/phorward/rheinermark">kannst mitmachen</a> und ein Teil davon werden!
		</div>

		<div class="imprint small center">
			<a class="solution" href="https://www.viur.is" target="_blank"
				title="Dies ist ein ViUR Informationssystem"
				style="background-image: url(/static/img/ViUR.svg);">
			</a>

			<a class="solution" href="https://phorward.info" target="_blank"
				title="Phorward Software Technologies"
				style="background-image: url(/static/img/phorward.svg);">
			</a>

			<a class="solution" href="https://github.com/phorward/rheinermark" target="_blank"
				title="GNU Affero General Public License"
				style="background-image: url(/static/img/AGPLv3_Logo.svg);">
			</a>
		</div>
	</div>
{% endblock %}
