{% extends "functional.html" %}
{% set title = "Impressum" %}
{% set functional_classes = "text" %}

{% block content %}
	<div class="content-box-content">
		<h3>Impressum</h3>

		<h4>Angaben gemäß § 5 TMG</h4>

		<div class="imprint">
			{{ appconf["legal_name"] }}<br>
			{{ appconf["legal_address"] }}<br>
			{{ appconf["legal_city"] }}
		</div>

		{% if appconf["legal_institutions"] %}
			<h4>Vertreten durch</h4>
			<div class="imprint">
				{% for entry in appconf["legal_institutions"] %}
					{{ entry }}<br>
				{% endfor %}
			</div>
		{% endif %}

		<h4>Kontakt</h4>

		<div class="imprint">
			{{ appconf["legal_phone"] }}<br>
			{{ appconf["legal_email"] }}
		</div>

		{% if appconf["legal_register"] %}
			<h4>Vereinsregister</h4>
			<div class="imprint">
				{% for entry in appconf["legal_register"] %}
					{{ entry }}<br>
				{% endfor %}
			</div>
		{% endif %}

		{% if appconf["legal_ustid"] %}
			<h4>Umsatzsteuer-ID</h4>

			<div class="imprint">
                {{ appconf["legal_ustid"] }}
			</div>
		{% endif %}

		<h4>Copyright</h4>

		<div class="imprint">
			Copyright &copy; {{ dateTime().now().strftime("%Y") }} {{ appconf["legal_name"] }}<br><br>
			Fotos, Inhalte, Farbgebung sowie das Logo sind geistiges Eigentum des Vereins und seiner Mitglieder.
		</div>

	</div>
{% endblock %}
