{% extends "functional.html" %}
{% set title = "Impressum" %}
{% set functional_classes = "text" %}

{% block content %}
	<div class="content-box-content">
		<h3>Impressum</h3>

		<h4>Angaben gemäß § 5 TMG</h4>

		<div class="content-box-info">
			LSV Ruhr-Lenne Iserlohn e.V.<br>
			Nordhauser Str. 14<br>
			58640 Iserlohn<br>
			<!--
			Postfach 9042
			58619 Iserlohn
			-->
		</div>

		<h4>Vertreten durch</h4>
		<div class="content-box-info">
			Thomas Mohn (1. Vorsitzender)<br>
			Günter Hartmann (Geschäftsführer)<br>
			Denise Orlean (Schatzmeisterin)
		</div>

		<h4>Kontakt</h4>

		<div class="content-box-info">
			+49 (0) 2304 5663<br>
			&#x69;&#x6E;&#x66;&#x6F;&#x40;&#x73;&#x65;&#x67;&#x65;&#x6C;&#x66;&#x6C;&#x69;&#x65;&#x67;&#x65;&#x6E;&#x2E;&#x63;&#x6F;&#x6D;
		</div>

		<h4>Registereintrag</h4>

		<div class="content-box-info">
			Vereinsregister Amtsgericht Iserlohn<br>
			Registernummer VR490
		</div>

		<h4>Umsatzsteuer-ID</h4>

		<div class="content-box-info">
			DE125585606
		</div>

		<h4>Copyright</h4>

		<div class="content-box-info">
			&copy; {{ dateTime().now().strftime("%Y") }} Luftsportvereinigung Ruhr-Lenne Iserlohn e.V.
		</div>

		<div class="content-box-info small">
			Fotos, Inhalte, Farbgebung sowie das Logo sind geistiges Eigentum des LSV Ruhr-Lenne Iserlohn e.V. und
			deren Mitgliedern.<br><br>

			Erstellung und Wartung der Webseite durch <a href="https://phorward.dev/" target="_blank">Jan Max Meyer</a>.

			<!--
			<br><br>

			Die hinter dieser Webseite liegende Software zur Verwaltung von Inhalten, Mitgliedern und weiteren
			Informationen ist freie Software, welche unter der GNU AFFERO GENERAL PUBLIC LICENSE entwickelt wird.
			Auch Du <a href="https://github.com/phorward/rheinermark">kannst mitmachen</a> und ein Teil davon werden!
			-->
		</div>

		<div class="content-box-info small center">
			<a class="solution" href="https://www.viur.dev" target="_blank"
				title="Dies ist ein ViUR Informationssystem"
				style="background-image: url(/static/img/ViUR.svg);">
			</a>

			<a class="solution" href="https://phorward.dev" target="_blank"
				title="Phorward Software Technologies"
				style="background-image: url(/static/img/phorward.svg);">
			</a>

			<a class="solution" href="https://github.com/phorward" target="_blank"
				title="GNU Affero General Public License"
				style="background-image: url(/static/img/AGPLv3_Logo.svg);">
			</a>
		</div>
	</div>
{% endblock %}
