{% extends "functional.html" %}
{% set title = "Datenschutzhinweise" %}
{% set functional_classes = "text" %}

{% block content %}
	<p class="content-box-content">
		<h3>Datenschutzhinweise</h3>

			<p>Die folgenden Hinweise geben einen einfachen Überblick darüber, was mit Ihren personenbezogenen Daten
				passiert, wenn Sie unsere Website besuchen. Personenbezogene Daten sind alle Daten, mit denen Sie persönlich
				identifiziert werden können. Ausführliche Informationen zum Thema Datenschutz entnehmen Sie unserer unter
				diesem Text aufgeführten Datenschutzerklärung.</p>

				<h4>Datenerfassung auf unserer Website</h4>
					<p><strong>Wer ist verantwortlich für die Datenerfassung auf dieser Website?</strong></p>
					<p>Die Datenverarbeitung auf dieser Website erfolgt durch den Websitebetreiber. Dessen Kontaktdaten können Sie
						dem Impressum dieser Website entnehmen.</p>
					<p><strong>Wie erfassen wir Ihre Daten?</strong></p>
					<p>Ihre Daten werden zum einen dadurch erhoben, dass Sie uns diese mitteilen. Hierbei kann es sich z.B. um Daten
						handeln, die Sie in ein Kontaktformular eingeben.</p>
					<p>Andere Daten werden automatisch beim Besuch der Website durch unsere IT-Systeme erfasst. Das sind vor allem
						technische Daten (z.B. Internetbrowser, Betriebssystem oder Uhrzeit des Seitenaufrufs). Die Erfassung dieser
						Daten erfolgt automatisch, sobald Sie unsere Website betreten.</p>
					<p><strong>Wofür nutzen wir Ihre Daten?</strong></p>
					<p>Ein Teil der Daten wird erhoben, um eine fehlerfreie Bereitstellung der Website zu gewährleisten.</p>
					<p><strong>Welche Rechte haben Sie bezüglich Ihrer Daten?</strong></p>
					<p>Sie haben jederzeit das Recht unentgeltlich Auskunft über Herkunft, Empfänger und Zweck Ihrer gespeicherten
						personenbezogenen Daten zu erhalten. Sie haben außerdem ein Recht, die Berichtigung, Sperrung oder Löschung
						dieser Daten zu verlangen. Hierzu sowie zu weiteren Fragen zum Thema Datenschutz können Sie sich jederzeit
						unter der im Impressum angegebenen Adresse an uns wenden. Des Weiteren steht Ihnen ein Beschwerderecht bei
						der zuständigen Aufsichtsbehörde zu.</p>

		<h3>Allgemeine Hinweise und Pflichtinformationen</h3>
			<h4>Datenschutz</h4>
				<p>Die Betreiber dieser Seiten nehmen den Schutz Ihrer persönlichen Daten sehr ernst. Wir behandeln Ihre
					personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser
					Datenschutzerklärung.</p>
				<p>Wenn Sie diese Website benutzen, werden verschiedene personenbezogene Daten erhoben. Personenbezogene Daten
					sind Daten, mit denen Sie persönlich identifiziert werden können. Die vorliegende Datenschutzerklärung
					erläutert, welche Daten wir erheben und wofür wir sie nutzen. Sie erläutert auch, wie und zu welchem Zweck
					das geschieht.</p>
				<p>Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail)
					Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht
					möglich.</p>
				<h4>Hinweis zur verantwortlichen Stelle</h4>
				<p>Die verantwortliche Stelle für die Datenverarbeitung auf dieser Website ist:</p>
				<p>LSV Ruhr-Lenne Iserlohn e. V.<br>
					Nordhauser Str. 14<br>
					58640 Iserlohn</p>
				<p><strong>Kontakt per E-Mail</strong><br>
					<a href="&#x6D;&#x61;&#x69;&#x6C;&#x74;&#x6F;&#x3A;&#x69;&#x6E;&#x66;&#x6F;&#x40;&#x73;&#x65;&#x67;&#x65;&#x6C;&#x66;&#x6C;&#x69;&#x65;&#x67;&#x65;&#x6E;&#x2E;&#x63;&#x6F;&#x6D;">
						&#x69;&#x6E;&#x66;&#x6F;&#x40;&#x73;&#x65;&#x67;&#x65;&#x6C;&#x66;&#x6C;&#x69;&#x65;&#x67;&#x65;&#x6E;&#x2E;&#x63;&#x6F;&#x6D;
					</a>
				</p>
				<p><strong>Kontakt per Telefon</strong><br>
					<a href="tel:+4923045663">+49 (0)2304 5663</a>
				</p>
				<p>Verantwortliche Stelle ist die natürliche oder juristische Person, die allein oder gemeinsam mit anderen über
					die Zwecke und Mittel der Verarbeitung von personenbezogenen Daten (z.B. Namen, E-Mail-Adressen o. Ä.)
					entscheidet.</p>
				<h4>Widerruf Ihrer Einwilligung zur Datenverarbeitung</h4>
				<p>Viele Datenverarbeitungsvorgänge sind nur mit Ihrer ausdrücklichen Einwilligung möglich. Sie können eine
					bereits erteilte Einwilligung jederzeit widerrufen. Dazu reicht eine formlose Mitteilung per E-Mail an uns.
					Die Rechtmäßigkeit der bis zum Widerruf erfolgten Datenverarbeitung bleibt vom Widerruf unberührt.</p>
				<h4>Beschwerderecht bei der zuständigen Aufsichtsbehörde</h4>
				<p>Im Falle datenschutzrechtlicher Verstöße steht dem Betroffenen ein Beschwerderecht bei der zuständigen
					Aufsichtsbehörde zu. Zuständige Aufsichtsbehörde in datenschutzrechtlichen Fragen ist der
					Landesdatenschutzbeauftragte des Bundeslandes, in dem unser Unternehmen seinen Sitz hat. Eine Liste der
					Datenschutzbeauftragten sowie deren Kontaktdaten können folgendem Link entnommen werden: <a
							href="https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html"
							target="_blank" rel="noopener">https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html</a>.
				</p>
				<h4>Recht auf Datenübertragbarkeit</h4>
				<p>Sie haben das Recht, Daten, die wir auf Grundlage Ihrer Einwilligung oder in Erfüllung eines Vertrags
					automatisiert verarbeiten, an sich oder an einen Dritten in einem gängigen, maschinenlesbaren Format
					aushändigen zu lassen. Sofern Sie die direkte Übertragung der Daten an einen anderen Verantwortlichen
					verlangen, erfolgt dies nur, soweit es technisch machbar ist.</p>
				<h4>Auskunft, Sperrung, Löschung</h4>
				<p>Sie haben im Rahmen der geltenden gesetzlichen Bestimmungen jederzeit das Recht auf unentgeltliche Auskunft
					über Ihre gespeicherten personenbezogenen Daten, deren Herkunft und Empfänger und den Zweck der
					Datenverarbeitung und ggf. ein Recht auf Berichtigung, Sperrung oder Löschung dieser Daten. Hierzu sowie zu
					weiteren Fragen zum Thema personenbezogene Daten können Sie sich jederzeit unter der im Impressum
					angegebenen Adresse an uns wenden.</p>
				<h4>Widerspruch gegen Werbe-Mails</h4>
				<p>Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten zur Übersendung von nicht
					ausdrücklich angeforderter Werbung und Informationsmaterialien wird hiermit widersprochen. Die Betreiber der
					Seiten behalten sich ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung von
					Werbeinformationen, etwa durch Spam-E-Mails, vor.</p>

		<h3>Datenerfassung auf unserer Website</h3>
			<h4>Cookies</h4>
				<p>Die Internetseiten verwendet so genannte Cookies. Cookies richten auf Ihrem Rechner keinen Schaden
					an und enthalten keine Viren. Cookies dienen dazu, unser Angebot nutzerfreundlicher, effektiver und sicherer
					zu machen. Cookies sind kleine Textdateien, die auf Ihrem Rechner abgelegt werden und die Ihr Browser
					speichert.</p>

				<p>Die meisten der von uns verwendeten Cookies sind so genannte “Session-Cookies”. Sie werden nach Ende Ihres
					Besuchs automatisch gelöscht. Andere Cookies bleiben auf Ihrem Endgerät gespeichert bis Sie diese löschen.
					Diese Cookies ermöglichen es uns, Ihren Browser beim nächsten Besuch wiederzuerkennen.</p>
				<p>Sie können Ihren Browser so einstellen, dass Sie über das Setzen von Cookies informiert werden und Cookies
					nur im Einzelfall erlauben, die Annahme von Cookies für bestimmte Fälle oder generell ausschließen sowie das
					automatische Löschen der Cookies beim Schließen des Browser aktivieren. Bei der Deaktivierung von Cookies
					kann die Funktionalität dieser Website eingeschränkt sein.</p>
				<p>Cookies, die zur Durchführung des elektronischen Kommunikationsvorgangs oder zur Bereitstellung bestimmter,
					von Ihnen erwünschter Funktionen (z.B. Warenkorbfunktion) erforderlich sind, werden auf Grundlage von Art. 6
					Abs. 1 lit. f DSGVO gespeichert. Der Websitebetreiber hat ein berechtigtes Interesse an der Speicherung von
					Cookies zur technisch fehlerfreien und optimierten Bereitstellung seiner Dienste. Soweit andere Cookies
					(z.B. Cookies zur Analyse Ihres Surfverhaltens) gespeichert werden, werden diese in dieser
					Datenschutzerklärung gesondert behandelt.</p>

 				<p>
					Von unserer Webseite gespeicherte Cookies:
					<ul>
    					<li>consent-confirmed - Technisch notwendig; speichert, ob der Dialog bzgl. Cookies vom Benutzer bestätigt worden ist.</li>
    					<li>viurHttpCookie - Technisch notwendig; Dient zur Speicherung der Benutzersitzung.</li>
						<li>viurSSLCookie - Technisch notwendig; Dient der Datensicherheit im Bezug auf die SSL-Verschlüsslung.</li>
					</ul>
				</p>

			<h4>Log-Daten</h4>

				<p>Der Provider der Seiten erhebt und speichert automatisch Informationen in so genannten Server-Log-Dateien,
					die Ihr Browser automatisch an uns übermittelt. Dies sind:</p>
				<ul>
					<li>Browsertyp und Browserversion</li>
					<li>verwendetes Betriebssystem</li>
					<li>Referrer URL</li>
					<li>Hostname des zugreifenden Rechners</li>
					<li>Uhrzeit der Serveranfrage</li>
					<li>IP-Adresse</li>
				</ul>
				<p>Eine Zusammenführung dieser Daten mit anderen Datenquellen wird nicht vorgenommen.</p>
				<p>Grundlage für die Datenverarbeitung ist Art. 6 Abs. 1 lit. b DSGVO, der die Verarbeitung von Daten zur
					Erfüllung eines Vertrags oder vorvertraglicher Maßnahmen gestattet.</p>

		<h3>Google Dienste</h3>

			<h4>Google ReCaptcha</h4>
				<p>Diese Seite nutzt über eine API zum Zwecke des Spamschutzes den Dienst ReCaptcha. Anbieter ist die Google Inc., 1600 Amphitheatre
					Parkway, Mountain View, CA 94043, USA.</p>
				<p>
					Informationen über Sie werden erst übertragen, wenn Sie das Kontaktformular benutzen.
					Weitere Informationen zur Verarbeitung Ihrer Daten durch ReCaptcha finden Sie in der
					<a href="https://policies.google.com/privacy">Datenschutzerklärung</a> von Google.
				</p>

			<h4>Google Maps</h4>
				<p>Diese Seite nutzt über eine API den Kartendienst Google Maps. Anbieter ist die Google Inc., 1600 Amphitheatre
					Parkway, Mountain View, CA 94043, USA.</p>
				<p>Zur Nutzung der Funktionen von Google Maps ist es notwendig, Ihre IP Adresse zu speichern. Diese
					Informationen werden in der Regel an einen Server von Google in den USA übertragen und dort gespeichert. Der
					Anbieter dieser Seite hat keinen Einfluss auf diese Datenübertragung.</p>
				<p>Die Nutzung von Google Maps erfolgt im Interesse einer ansprechenden Darstellung unserer Online-Angebote und
					an einer leichten Auffindbarkeit der von uns auf der Website angegebenen Orte. Dies stellt ein berechtigtes
					Interesse im Sinne von Art. 6 Abs. 1 lit. f DSGVO dar.</p>
				<p>Mehr Informationen zum Umgang mit Nutzerdaten finden Sie in der
					<a href="https://www.google.de/intl/de/policies/privacy/">Datenschutzerklärung von Google</a>.
				</p>
	</div>
{% endblock %}
