@import "normalize";
@import "hamburgers";
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

$accent-color: #005e8a;
$bgcolor: #fcfcff;
$fgcolor: grey;

* {
    outline: 0;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

button:focus {
    outline:0 !important;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
	background-color: $bgcolor;
}

a {
  	cursor: pointer;
    text-decoration: none;
	color: $accent-color;
    font-weight: bold;

    &:hover {
        opacity: 0.8;
    }
}

p, li, label {
    color: $fgcolor;
    font-weight: 400;
    margin: 0;
}

p:not(:last-child) {
	margin-bottom: 1em;

}

h1, h2, h3, h4, h5, h6 {
	vertical-align: baseline;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
    margin: 0;
    font-weight: bold;
    color: $accent-color;
}

hr {
    width: 90%;
    border: 1px solid $fgcolor;
    opacity: 0.5;
}


// MENU //
header {
    width: 100%;
    height: 100vh;
    position: fixed;
    box-sizing: border-box;
}

.menu-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    position: fixed;
	z-index: 200;

	top: 0px;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	background-image: linear-gradient(  rgba(0, 0, 0, 0.5) 1%, hsla(215,20%,80%,0) 100%);
	padding-bottom: 20px;
	transition: 0.2s;

	&.steady {
		background-color: #FFFFFF;
		border-bottom: 3px solid $accent-color;
		background-image: unset;
		box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);

		& .menu-bar
		{
			border-left: 3px solid $accent-color;
		}

		& .hamburger-inner, & .hamburger-inner::before, & .hamburger-inner::after {
			background-color:$accent-color !important;
		}

		& .menu-button {
			color: $accent-color;
		}

		& .logo {
			background-image: url(/static/img/logo.svg); //NOT COMPILED
			transform: scale(0.75);
			margin-top: -20px;
		}
	}
}

.menu-bar {
    height: 40px;
    border-left: 3px solid white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 15px;
}

.logo {
    width: 153px;
    height: 80px;
    background-image: url(/static/img/logo-white.svg); //NOT COMPILED
    background-repeat: no-repeat;
    transition: 0.5s;
}

// MOBILE MENU //

.mobilemenu-wrapper {
    //height: fit-content;
    width: 100vw;
    background-color: white;
    position: fixed;
    z-index: 100;
    top: 100px;
    left: 0;
    display: none;
    border-top: 3px solid $accent-color;
    border-bottom: 3px solid $accent-color;

	& .menu-button {
		color: $accent-color;
	}

	&.steady {

	}

    &.is-active {
        display: unset;
        transition-timing-function: ease;
        transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    }
}

.mobilemenu {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hamburger {
    display: none;
    outline: none;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    background-color:white !important;
}

// CONTENT //

.content-title {
    //width: fit-content;
    //height: fit-content;
    border-left: 3px solid white;
    color: white;
    padding: 15px;
    margin-left: 20px;
    &.wo-border {
        border: unset;
        margin-left: unset;
        padding-left: 20px;
    }
}
.content-headline {
    color: white;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 2em;
}
.content-subline {
    color: white;
    font-weight: 400;
    margin: 0;
    margin-bottom: 10px;
    font-size: 1em;
}
.rd-button {
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 5px 20px;
    border-radius: 100px;
    //width: fit-content;
    //height: fit-content;
    font-weight: 500;
    &:hover {
        opacity: 0.8;
    }
}
.menu-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    //min-width: fit-content;
    color: white;
    padding: 5px 10px;
    font-weight: 500;
	border-radius: 5px;

    &:hover {
        opacity: 0.8;
    }
    &.law {
        margin: 0;
        font-weight: 400;
        font-size: 12px;
        color: dimgray;
    }
    &.no-link {
        &:hover{opacity: unset;}
        font-weight: 400;
        font-size: 12px;
        &.m-law {
            color: black;
        }
    }
}

.btn-icn {

    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    margin-right: 8px;
    &.mitfliegen {
        background-image: url(/static/icons/location.svg);
    }

	/*
    &.facebook {
        background-image: url(/static/icons/facebook.svg);
        width: 30px;
        height: 30px;
        margin-right: 5px;
    }
    &.twitter {
        background-image: url(/static/icons/twitter.svg);
        width: 30px;
        height: 30px;
        margin-right: 5px;
    }
    &.instagram {
        background-image: url(/static/icons/instagram.svg);
        width: 30px;
        height: 30px;
        margin-right: 5px;
    }
    &.location {
        background-image: url(/static/icons/location.svg);
        width: 30px;
        height: 30px;
        margin-right: 5px;
    }
    &.phone {
        background-image: url(/static/icons/phone.svg);
        width: 30px;
        height: 30px;
        margin-right: 5px;
    }
    &.email {
        background-image: url(/static/icons/email.svg);
        width: 30px;
        height: 30px;
        margin-right: 5px;
    }
	*/
}

// Startseite //
.fv {
    width: 100%;
    height: 100vh;
}

.fv-bg {
    width: 100%;
    height: 100vh;
    position:absolute;
    top:0;
    left:0;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.grey-transparency {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.2)
}


//bouncing arrow
.arrow
{
  position: relative;
  bottom: -10rem;
  margin-left: -20px;
  width: 40px;
  height: 40px;

  /**
   * Dark Arrow Down
   */
  background-image: url(/static/icons/bounce-arrow.svg);
  background-size: contain;
}

.bounce {
  animation: bounce 4s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

// Kategorien //
.sv {
    width: 100%;
    height: auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    box-sizing: border-box;
}
.sv-content-wrapper {
    width: 100%;
    align-items: center;
    height: auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    &.bp{

    }
}
.sv-content {
    width: 60%;
    height: auto;
}
.content-title-line {
    width: 100%;
    max-width: 1300px;
    //height: fit-content;
    border-bottom: 3px solid $accent-color;
    margin-bottom: 50px;
    margin-top: 50px;
    color: $accent-color;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 5px;
    &.bp {
        width: 100%;
        margin-top: 0;
    }
}
.sv-image {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    &.detail {
        background-image: none;
    }
}
.content-box {
    width: 100%;
    max-width: 1300px;
    //height: fit-content;
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    box-sizing: border-box;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
	background-color: #fff;

    &:last-child{
        margin-bottom:0;
    }
}
.content-box-img {
    width: 45%;
    min-height: 350px;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
	position: relative;
}

.content-box-img-bg {
    width: 100%;
    height: 350px;
    position:absolute;
    top:0;
    left:0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.content-box-text {
    width: 55%;
    height: auto;
    padding: 20px;

	&.full {
		width: 100%;
	}
}

.content-box-headline {
    margin: 0;
}

.content-box-content {
    margin-top: 10px;
    padding-right: 20px;

	& h1 {
		font-size: 1.5em;
		margin-bottom: .2em;
	}

	& h2 {
		font-size: 1.4em;
		margin-bottom: .2em;
	}

	& h3 {
		font-size: 1.3em;
		margin-bottom: .2em;
	}

	& h4 {
		font-size: 1.2em;
		margin-bottom: .2em;
	}

	& h5 {
		font-size: 1.1em;
		margin-bottom: .2em;
	}
}

.content-box-info {
	margin: 20px 10px;
	font-size: 1.2em;
	line-height: 1.2em;

	&.bold {
		font-weight: bold;
	}

	&.center {
		text-align: center;
	}

	&.small {
		font-size: 1em;
	}

	& .solution {
		display: inline-block;
		width: 175px;
		height: 50px;

		background-position: center bottom;
		background-size: contain;
		background-repeat: no-repeat;
	}
}

.footer {
	margin: 15px auto;
    min-height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
	flex-direction: row;
}

/* Formular */
form {
	& .hint {
		display: inline-block;
		color: $accent-color;
		background-color: white;
		border: 1px solid $accent-color;
		border-radius: 5px;
		margin: 5px 15px;
		padding: 15px;
	}

	& .error {
		margin: 15px;
		color: red;
	}
}

form label {
	display: block;
	margin: 5px auto;
}

form input, form select, form textarea  {
	width: 100%;
	display: block;
	padding: 5px;
	box-sizing: border-box;
  	//border-radius: 5px;
  	font-size: 1.2em;
}

form textarea {
	min-height: 200px;
}

form input[type=checkbox] {
	width: unset;
	display: inline-block;
}

form input[type=submit] {
	margin: 25px auto;
	padding: 12px;
	color: #fff;
	background-color: $accent-color;
	border-radius: 5px;
	border: unset;
}

form .option-group {
	padding-left: 30px;

	& label {
		display: inline;
	}
}

.form-status {
	border-radius: 5px;
	padding: 10px;
	display: none;
}

.form-loading {
}

.form-success {
	background-color: #affcae;
	font-weight: bold;
}

.grecaptcha-badge {
  visibility: hidden;
}

// Functional

.functional {
	margin-top: 130px;
	padding: 0 2%;

	&.text {
		padding: 0 20%;
	}
}

// Intern

.intern {
	& .image {
		height: 750px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;

		&.cover {
			background-size: cover;
		}
	}

	& h1 {
		font-size: 1.6em;
		border-bottom: 1px solid $fgcolor;
		padding: 5px 0;
		margin: 5px 0;
		width: 100%;

		& img {
			width: 1.3em;
			height: 1.3em;
			padding: 0;
			margin: 0 5px 0 0;
			vertical-align: bottom;
		}
	}

  	& span.icon {
	  	display: inline-block;
		vertical-align: middle;
		border-radius: 5px;
		width: 2em;
		height: 2em;
		background-color: $accent-color;
	  	background-size: cover;
	}

  	& span.icon.new::before {
	  font-size: 0.4em;
	  background: red;
	  color: white;
	  content: "Neu!";
	  position: absolute;
	}

  	& .item {
	  font-size: 2em;
	  width: 100%;
	  overflow: hidden;
	  text-overflow: ellipsis;
	  white-space: nowrap;

	  display: block;
	  transition: 1s;
	  margin: 5px 0;
	  border: 1px solid $accent-color;
	  border-radius: 5px;

	  & .action {
		cursor: pointer;
		display: block;
		transition: 1s;
		padding: 10px 20px;

		color: $accent-color;
    	font-weight: bold;
	  }
	}

	& .item:hover, & .item.is-hover {
		border-color: black;
		background-color: $accent-color;
		color: white;

	  	& .action {
		  padding: 15px 20px;
		  color: white;
		}
	}

	& ul.menu {
		width: 100%;
		padding: 0;
		list-style-type: none;

		& li {
			& img {
				vertical-align: middle;
				border-radius: 5px;
			}
		}
	}

  	& div.appointments {
	  	margin: 5px;
		padding: 10px 20px;
	  	font-size: 0.6em;
	  	border-radius: 0px 0px 5px 5px;
	  	background-color: white;
	  	display: none;

	  	&.is-open {
		  display:block;
		}

	  	& ul {
		  font-size: 1.2em;
		  width: 100%;
		  padding: 0;
		  list-style: none;

		  & li {
			border: 1px solid grey;
			background-color: white;
			border-radius: 5px;
			padding: 10px;
			margin: 5px 0;
		  }

		  & li span {
			display: block;
		  }
		}
	  }
}

/*Cookie Consent Begin*/
#cookieConsent {
    background-color: rgba(20,20,20,0.6);
    min-height: 26px;
    font-size: 14px;
    color: #ccc;
    line-height: 26px;
    padding: 8px 0 8px 30px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 9999;
}

#closeCookieConsent {
    float: right;
    display: inline-block;
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: -15px 0 0 0;
    font-weight: bold;
}

#cookieConsentOK {
    background-color: $accent-color;
    color: #fff;
    display: inline-block;
    border-radius: 5px;
    padding: 0 20px;
    cursor: pointer;
    float: right;
    margin: 0 20px 0 10px;
}

/*Cookie Consent End*/



// Responsive //

@media only screen and (max-width: 1350px) {
    .content-box-image {
		width: calc(100% - 20px);
	}

	.functional.text {
		padding: 0 10%;
	}
}

@media only screen and (max-width: 970px) {

    .content-title-line  {
        width: calc(100% - 20px);
    }
    .content-box-img {
        width: 100%;
    }
    .content-box-text {
        width: calc(100% - 20px);
        padding: 20px;
    }
    .content-box {
		width: 100%;
	}

	.functional.text {
		padding: 0 2%;
	}
}

@media only screen and (max-width: 800px) {
    .logo {
        transform: scale(0.7) translateX(50px) translateY(-11px);
    }

	.intern {
	  & div.appointment {
		margin: 0;

		& ul {
		  & span {
			display: unset;
		  }
		}
	  }

	  & .image {
		height: 300px;
	  }
	}
}

@media only screen and (max-width: 720px) {
  	form input, form select, form textarea {
	  width: 98%;
	}

    .menu-bar {
        display: none;
    }

    .hamburger {
        display: unset;
    }

	.footer {
		flex-direction: column;
	}

    .sv {margin-bottom: 50px;}
    .content-box {flex-direction: column;}

	.functional.text {
		padding: 0 1%;
	}

	.intern {
	  & .item {
		  font-size: 1.3em;
		}
	}
}
